Import all Library.

In [1]:
!pip install Matplotlib

Requirement already satisfied: Matplotlib in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from Matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from Matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from Matplotlib) (4.55.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from Matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from Matplotlib) (2.1.2)
Requirement already satisfied: packaging>=20.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from Matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from Matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from Matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from Matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.7->Matplotlib) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.1.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)

[notice] A new release of pip is available: 24.2 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [9]:
df=pd.read_csv('50_Startups.csv')
print(df)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [10]:
# To know the name of columns
column_name=df.columns
print(column_name)

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [ ]:
# use of shape . Know the no. of column and rows
df.shape
print(df.shape)

(50, 5)

In [12]:
# to know the data type of each columns
df.dtypes
print(df.dtypes)

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [13]:
#use of iloc
df.iloc[:,:-1]

    R&D Spend  Administration  Marketing Spend       State
0   165349.20       136897.80        471784.10    New York
1   162597.70       151377.59        443898.53  California
2   153441.51       101145.55        407934.54     Florida
3   144372.41       118671.85        383199.62    New York
4   142107.34        91391.77        366168.42     Florida
5   131876.90        99814.71        362861.36    New York
6   134615.46       147198.87        127716.82  California
7   130298.13       145530.06        323876.68     Florida
8   120542.52       148718.95        311613.29    New York
9   123334.88       108679.17        304981.62  California
10  101913.08       110594.11        229160.95     Florida
11  100671.96        91790.61        249744.55  California
12   93863.75       127320.38        249839.44     Florida
13   91992.39       135495.07        252664.93  California
14  119943.24       156547.42        256512.92     Florida
15  114523.61       122616.84        261776.23    New York
16   78013.11       121597.55        264346.06  California
17   94657.16       145077.58        282574.31    New York
18   91749.16       114175.79        294919.57     Florida
19   86419.70       153514.11             0.00    New York
20   76253.86       113867.30        298664.47  California
21   78389.47       153773.43        299737.29    New York
22   73994.56       122782.75        303319.26     Florida
23   67532.53       105751.03        304768.73     Florida
24   77044.01        99281.34        140574.81    New York
25   64664.71       139553.16        137962.62  California
26   75328.87       144135.98        134050.07     Florida
27   72107.60       127864.55        353183.81    New York
28   66051.52       182645.56        118148.20     Florida
29   65605.48       153032.06        107138.38    New York
30   61994.48       115641.28         91131.24     Florida
31   61136.38       152701.92         88218.23    New York
32   63408.86       129219.61         46085.25  California
33   55493.95       103057.49        214634.81     Florida
34   46426.07       157693.92        210797.67  California
35   46014.02        85047.44        205517.64    New York
36   28663.76       127056.21        201126.82     Florida
37   44069.95        51283.14        197029.42  California
38   20229.59        65947.93        185265.10    New York
39   38558.51        82982.09        174999.30  California
40   28754.33       118546.05        172795.67  California
41   27892.92        84710.77        164470.71     Florida
42   23640.93        96189.63        148001.11  California
43   15505.73       127382.30         35534.17    New York
44   22177.74       154806.14         28334.72  California
45    1000.23       124153.04          1903.93    New York
46    1315.46       115816.21        297114.46     Florida
47       0.00       135426.92             0.00  California
48     542.05        51743.15             0.00    New York
49       0.00       116983.80         45173.06  California

In [14]:
# instead of -1 We use -2
df.iloc[:,:-2]

    R&D Spend  Administration  Marketing Spend
0   165349.20       136897.80        471784.10
1   162597.70       151377.59        443898.53
2   153441.51       101145.55        407934.54
3   144372.41       118671.85        383199.62
4   142107.34        91391.77        366168.42
5   131876.90        99814.71        362861.36
6   134615.46       147198.87        127716.82
7   130298.13       145530.06        323876.68
8   120542.52       148718.95        311613.29
9   123334.88       108679.17        304981.62
10  101913.08       110594.11        229160.95
11  100671.96        91790.61        249744.55
12   93863.75       127320.38        249839.44
13   91992.39       135495.07        252664.93
14  119943.24       156547.42        256512.92
15  114523.61       122616.84        261776.23
16   78013.11       121597.55        264346.06
17   94657.16       145077.58        282574.31
18   91749.16       114175.79        294919.57
19   86419.70       153514.11             0.00
20   76253.86       113867.30        298664.47
21   78389.47       153773.43        299737.29
22   73994.56       122782.75        303319.26
23   67532.53       105751.03        304768.73
24   77044.01        99281.34        140574.81
25   64664.71       139553.16        137962.62
26   75328.87       144135.98        134050.07
27   72107.60       127864.55        353183.81
28   66051.52       182645.56        118148.20
29   65605.48       153032.06        107138.38
30   61994.48       115641.28         91131.24
31   61136.38       152701.92         88218.23
32   63408.86       129219.61         46085.25
33   55493.95       103057.49        214634.81
34   46426.07       157693.92        210797.67
35   46014.02        85047.44        205517.64
36   28663.76       127056.21        201126.82
37   44069.95        51283.14        197029.42
38   20229.59        65947.93        185265.10
39   38558.51        82982.09        174999.30
40   28754.33       118546.05        172795.67
41   27892.92        84710.77        164470.71
42   23640.93        96189.63        148001.11
43   15505.73       127382.30         35534.17
44   22177.74       154806.14         28334.72
45    1000.23       124153.04          1903.93
46    1315.46       115816.21        297114.46
47       0.00       135426.92             0.00
48     542.05        51743.15             0.00
49       0.00       116983.80         45173.06

In [15]:
# none number is used
df.iloc[:,:]

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [15]:
# use onehotencoder in state column.
#from sklearn.preprocessing import OneHotEncoder 

#from sklearn.compose import ColumnTransformer as c_t
#initiate the object and to get output in dense matrix.
#encodered=OneHotEncoder(sparse_output==False)
# fit and transform the data
#df_array=encoder.fit_transform(df[['state']])

#display
#encoded_array=pd.DataFrame(df_array,columns=encodered.get_feature_names_out(['state']))
#print(encoded_array)

#c_t=ColumnTransformer([("State",o_e,[3])],remainder="passthrough",one_hot_encoder=o_e)
#df=c_t.fit_transform(df)
#print(df)

# Step 1: Import necessary libraries
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Step 2: Load the dataset
df = pd.read_csv('50_Startups.csv')

# Step 3: Initialize OneHotEncoder with the correct argument
encoder = OneHotEncoder(sparse_output=False)  # Use sparse_output instead of sparse

# Step 4: Fit and transform the "state" column
encoded_array = encoder.fit_transform(df[['State']])

# Step 5: Convert the result into a DataFrame with meaningful column names
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['State']))

# Step 6: Concatenate the one-hot encoded columns with the original DataFrame
df_final = pd.concat([df.drop(columns=['State']), encoded_df], axis=1)

# Step 7: Display the transformed DataFrame
print(df_final)

    R&D Spend  Administration  ...  State_Florida  State_New York
0   165349.20       136897.80  ...            0.0             1.0
1   162597.70       151377.59  ...            0.0             0.0
2   153441.51       101145.55  ...            1.0             0.0
3   144372.41       118671.85  ...            0.0             1.0
4   142107.34        91391.77  ...            1.0             0.0
5   131876.90        99814.71  ...            0.0             1.0
6   134615.46       147198.87  ...            0.0             0.0
7   130298.13       145530.06  ...            1.0             0.0
8   120542.52       148718.95  ...            0.0             1.0
9   123334.88       108679.17  ...            0.0             0.0
10  101913.08       110594.11  ...            1.0             0.0
11  100671.96        91790.61  ...            0.0             0.0
12   93863.75       127320.38  ...            1.0             0.0
13   91992.39       135495.07  ...            0.0             0.0
14  119943.24       156547.42  ...            1.0             0.0
15  114523.61       122616.84  ...            0.0             1.0
16   78013.11       121597.55  ...            0.0             0.0
17   94657.16       145077.58  ...            0.0             1.0
18   91749.16       114175.79  ...            1.0             0.0
19   86419.70       153514.11  ...            0.0             1.0
20   76253.86       113867.30  ...            0.0             0.0
21   78389.47       153773.43  ...            0.0             1.0
22   73994.56       122782.75  ...            1.0             0.0
23   67532.53       105751.03  ...            1.0             0.0
24   77044.01        99281.34  ...            0.0             1.0
25   64664.71       139553.16  ...            0.0             0.0
26   75328.87       144135.98  ...            1.0             0.0
27   72107.60       127864.55  ...            0.0             1.0
28   66051.52       182645.56  ...            1.0             0.0
29   65605.48       153032.06  ...            0.0             1.0
30   61994.48       115641.28  ...            1.0             0.0
31   61136.38       152701.92  ...            0.0             1.0
32   63408.86       129219.61  ...            0.0             0.0
33   55493.95       103057.49  ...            1.0             0.0
34   46426.07       157693.92  ...            0.0             0.0
35   46014.02        85047.44  ...            0.0             1.0
36   28663.76       127056.21  ...            1.0             0.0
37   44069.95        51283.14  ...            0.0             0.0
38   20229.59        65947.93  ...            0.0             1.0
39   38558.51        82982.09  ...            0.0             0.0
40   28754.33       118546.05  ...            0.0             0.0
41   27892.92        84710.77  ...            1.0             0.0
42   23640.93        96189.63  ...            0.0             0.0
43   15505.73       127382.30  ...            0.0             1.0
44   22177.74       154806.14  ...            0.0             0.0
45    1000.23       124153.04  ...            0.0             1.0
46    1315.46       115816.21  ...            1.0             0.0
47       0.00       135426.92  ...            0.0             0.0
48     542.05        51743.15  ...            0.0             1.0
49       0.00       116983.80  ...            0.0             0.0

[50 rows x 7 columns]

In [18]:
# Step 1: Import necessary libraries
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# Step 2: Load the dataset
df = pd.read_csv('50_Startups.csv')

# Step 3: Initialize OneHotEncoder with dense output
encoder = OneHotEncoder(sparse_output=False)  # Converts to a dense binary matrix

# Step 4: Fit and transform the "state" column
encoded_array = encoder.fit_transform(df[['State']])  # One-hot encode "state"

# Step 5: Create a DataFrame for the one-hot encoded columns
encoded_df = pd.DataFrame(encoded_array, columns=encoder.get_feature_names_out(['State']))

# Step 6: Merge the encoded columns with the original dataset
df_final = pd.concat([df.drop(columns=['State']), encoded_df], axis=1)

# Step 7: Display the final dataset
print(df_final.head())

   R&D Spend  Administration  ...  State_Florida  State_New York
0  165349.20       136897.80  ...            0.0             1.0
1  162597.70       151377.59  ...            0.0             0.0
2  153441.51       101145.55  ...            1.0             0.0
3  144372.41       118671.85  ...            0.0             1.0
4  142107.34        91391.77  ...            1.0             0.0

[5 rows x 7 columns]

In [22]:
# print only state column
print(df['State'])

0       New York
1     California
2        Florida
3       New York
4        Florida
5       New York
6     California
7        Florida
8       New York
9     California
10       Florida
11    California
12       Florida
13    California
14       Florida
15      New York
16    California
17      New York
18       Florida
19      New York
20    California
21      New York
22       Florida
23       Florida
24      New York
25    California
26       Florida
27      New York
28       Florida
29      New York
30       Florida
31      New York
32    California
33       Florida
34    California
35      New York
36       Florida
37    California
38      New York
39    California
40    California
41       Florida
42    California
43      New York
44    California
45      New York
46       Florida
47    California
48      New York
49    California
Name: State, dtype: object